<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <listManagement.getAllLists>
        <processor type="Sitecore.Support.ListManagement.ContentSearch.Pipelines.GetAllLists.GetAllContactLists, Sitecore.Support.165176" patch:instead="*[@type='Sitecore.ListManagement.ContentSearch.Pipelines.GetAllLists.GetAllContactLists, Sitecore.ListManagement.ContentSearch']" />
      </listManagement.getAllLists>
    </pipelines>
  </sitecore>
</configuration>